# Tasks

## 1st Task:

1. Find how many days you recorded sales.
2. Find the lowest sales day.
3. Find the highest sales day.
4.  Arrange sales from highest to lowest to review performance.

In [1]:
sales = [1200, 950, 1420, 780, 1650, 1100, 970]

# Grocery Store Sales List
sales = [150, 200, 250, 175, 300, 400, 225]

# Find number of days sales were recorded
print("Number of sales days:", len(sales))

# Find the lowest sales day
print("Lowest sales day:", min(sales))

# Find the highest sales day
print("Highest sales day:", max(sales))

# Sort sales from highest to lowest
print("Sales from highest to lowest:", sorted(sales, reverse=True))

Number of sales days: 7
Lowest sales day: 150
Highest sales day: 400
Sales from highest to lowest: [400, 300, 250, 225, 200, 175, 150]

## 2nd Task:

         

You are booking seats in a theater.               
You have a list of booked seat numbers, and you want to find the first seat where a special customer (VIP) is seated.

In [3]:
seats = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]                         
booked_seats = [1, 3, 5, 7, 9]  # Booked seats                
vip_seat = 7  # Seat number for the special customer (VIP)  

# Theater seat booking example
seats_booked = [1, 2, 3, 4, 1, 5, 6, 1, 7]

# Count the number of times VIP seat (1) is booked
print("VIP seat booked", seats_booked.count(1), "times")

VIP seat booked 3 times

## 3rd Task:

- You are managing train coach arrangement.                
- Sometimes, trains arrive from the opposite side, so you need to reverse the list of coaches for departure.

In [4]:
# Train coach arrangement
coaches = ["Coach A", "Coach B", "Coach C", "Coach D", "Coach E"]

# Reverse the list of coaches
coaches.reverse()
print("Reversed coaches list:", coaches)

Reversed coaches list: ['Coach E', 'Coach D', 'Coach C', 'Coach B', 'Coach A']

## 4th Task:

- You are preparing a rank list of students after exams.
- Sorting the marks will help you declare results starting from the topper to the lowest scorer.

In [6]:
# Rank list of students after exams
marks = [75, 82, 91, 68, 55, 88, 94, 77]

# Sort the marks from lowest to highest
marks.sort()
print("Marks sorted in ascending order:", marks)

# Sort the marks from highest to lowest
marks.sort(reverse=True)
print("Marks sorted in descending order:", marks)

Marks sorted in ascending order: [55, 68, 75, 77, 82, 88, 91, 94]
Marks sorted in descending order: [94, 91, 88, 82, 77, 75, 68, 55]

## 5th Task:

- You are working on a backup system for a website.
- You need a copy of user data before making changes, so that the original is safe if something goes wrong.

In [11]:
# Website backup system
user_data = ['user1', 'user2', 'user3', 'user4', 'user5']

# Make a copy of the data before making changes
backup_data = user_data.copy()
print("Original data:", user_data)
print("Backup data:", backup_data)

Original data: ['user1', 'user2', 'user3', 'user4', 'user5']
Backup data: ['user1', 'user2', 'user3', 'user4', 'user5']

## 6th Task:

- You are creating a discount list for a shopping site.
- You need to quickly create a list showing prices after 10% discount for all items without writing long loops.

In [14]:
# Discount list for shopping site
item_prices = [100, 200, 300, 400, 500]

# Create a list showing prices after a 10% discount
discounted_prices = [price * 0.9 for price in item_prices]
print("Prices after 10% discount:", discounted_prices)

Prices after 10% discount: [90.0, 180.0, 270.0, 360.0, 450.0]

## 7th Task:

- You have a list of students’ names.

- Itemwise: You call each student’s name one by one.

- Indexwise: You call roll numbers and names together.

In [15]:
# List of students' names
students = ["Aditi", "Bharat", "Chandresh", "Deepak", "Esha"]

# Itemwise traversal
print("Itemwise traversal:")
for student in students:
    print(student)

# Indexwise traversal
print("\nIndexwise traversal:")
for i in range(len(students)):
    print(f"Roll Number {i+1}: {students[i]}")

Itemwise traversal:
Aditi
Bharat
Chandresh
Deepak
Esha

Indexwise traversal:
Roll Number 1: Aditi
Roll Number 2: Bharat
Roll Number 3: Chandresh
Roll Number 4: Deepak
Roll Number 5: Esha

## 8th Task:

- You are creating a marksheet by combining:
 1. a list of student names and
 2. a list of their scores.
-  pair each name with its score

In [16]:
students = ["Aditi", "Bharat", "Chandresh", "Deepak", "Esha"]
scores = [85, 92, 78, 88, 95]

In [17]:
marksheet = list(zip(students, marks))
print("Marksheet:", marksheet)

Marksheet: [('Aditi', 94), ('Bharat', 91), ('Chandresh', 88), ('Deepak', 82), ('Esha', 77)]